* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--color-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--color-background: coral;
	--colo-bg-button: lightblue;
}

body {
	font-family: roboto, sans-serif;
}

header {
	display: flex;
	padding: 20px;
	align-items: center;
	background-color: var(--color-background);
	width: 100%;
}
.cards {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card {
	border-radius: 10px;
	width: 30%;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: var(--color-shadow);
}
.card-img {
	border-radius: 10px 10px;
	width: 100%;
	object-fit: cover;
	aspect-ratio: 1;
}
.card-body {
	padding: 10px 20px;
}
.card-body h2 {
	margin: 10px 0px;
}
.card-button {
	border: none;
	border-radius: 10px;
	height: 50px;
	background-color: var(--colo-bg-button);
	width: 100%;
}
